{% load i18n table %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for column in table.columns %}
                    <th class="column-{{ column.name }}">{{ column.label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
                <tr>
                    {% for cell in row %}
                        <td class="cell-{{ cell.column.name }}">{% render_cell cell %}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ table.columns_count }}">{{ table.empty_message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
